.newsletter {
    padding: 3rem 0;
    background-color: #F9F9F9;
}

.content {
    text-align: center;
    position: relative;

    & > h2 {
       margin: 0;
    }

    & > p {
        margin: 1rem 0;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem;
    width: 100%;
   

    .input {
        font-family: 'Cormorant Garamond', serif;
        border-radius: 0;
        height: 3rem;
        border: .5px solid rgb(194, 194, 194);
        padding: 0 .5rem;
        width: 100%;
        color: #333;
        

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: .875rem;
            color: #333;
        }
    }
    
    .button {
        height: 3rem;
        background-color: #333;
        padding: 0 1.5rem;
    }
}

.error {
    color: red;
    font-size: .875rem;
    position: absolute;
    bottom: -1.5rem;
    left: 1rem;
}

@media screen and (min-width: 64rem) {
    .newsletter {
        padding: 5rem 0;
    }

    .form {
        position: relative;
        width: 25%;
        padding: 0;
        margin: 0 auto;
        padding-top: 1rem;

        .input {
            font-size: 1rem;

            &::placeholder {
                font-size: 1rem;
            }
        }
    }

    .error {
        left: 0;
    }
}