.headline {
    height: 15rem;
    width: 100vw;
    position: relative;

    &__content {
        position: absolute;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
        top: 60%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: #fff;
        z-index: 5;

    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 100%;
       
    }

    &__title {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.15);
    }
}


/* MEDIUM */
@media screen and (min-width: 48rem){
    .headline { 
        height: 18rem;

        &__content {
            top: 60%; 
        }

        &__image {
            object-position: 0 100%;
        }
        
    }
  }
  
  /* LARGE */
  @media screen and (min-width: 64rem){

    .headline { 
        height: 25rem;

    &__content {
        left: 3rem;
        bottom: -6rem;
        font-size: 1.225rem;
        max-width: 25rem;
        transform: none;
        top: auto;
        text-align: left;
        font-weight: 400;
        color: #333;
    }

        &__image {
            object-position: 0 80%;
        }
    
        &__title {
            transform: none;
            top: auto;
            bottom: 1rem;
            left: 3rem;
        }
    }
  }
