.button {
    padding: 1rem 2rem;
    background-color: #F3D5C1;
    color: white;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: #333;
        color: white;
    }
}

.buttonOutline {
    @extend .button;
    background-color: transparent;
    border: 1px solid #F3D5C1;
    color: #F3D5C1;

    &:hover {
        background-color: #F3D5C1;
        color: white;
    }
}

@media screen and (min-width: 48rem){
  .button {
      width: fit-content;
      font-size: .875rem;
  }
}