.promoBar {
    position: relative;
    height: 3.5rem;
    background-color: #F3D5C1;
    color: #333;
    display : flex;
    align-items : center;
    justify-content: center;
    font-size: .75rem;
    z-index: 10;
}

.nav {
    background-color: #fffbf8;
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   grid-template-rows: 1fr;
   align-items: center;
   height: 3.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
   color: #333;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;
   z-index: 10;
//    box-shadow: 4px 4px 5px rgba(143, 143, 143, 0.093);
   
}

.navLinks {
    display: none;
}

.navLink {
    text-transform: uppercase;
    position: relative;
}

.navMobileMenuButton {
   height: 1.5rem;
   width: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   z-index: 10;
   position: relative;
}

.navMobileMenu {
    display: block;
    height: 0.125rem;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    transition: transform .4s cubic-bezier(0.22, 1, 0.36, 1);
    -webkit-transition: transform .4s cubic-bezier(0.22, 1, 0.36, 1);
    -webkit-transition: -webkit-transform .4s cubic-bezier(0.22, 1, 0.36, 1);
    
}

.isOpen {
    @extend .navMobileMenu;

    &:nth-of-type(1) {
        position: absolute;
        transform: rotate(45deg);
        top: 10px;
        
    }

    &:nth-of-type(2) {
        opacity: 0;
       
    }

    &:nth-of-type(3) {
        position: absolute;
        top: 10px;
        transform: rotate(-45deg);

    }

}

.logo {
    width: 8.625rem;
    justify-self: center;
    align-self: center;
    margin-bottom: .1rem;

    &:hover {
        cursor: pointer;
    }
}

.navActions {
    display: flex;
    align-items:baseline;
    justify-self: flex-end;
}


.searchBar {
    height: 7rem;
    width: 100%;
    background-color: #fffbf8;
    position: absolute;
    box-shadow: 4px 4px 5px rgba(143, 143, 143, 0.093);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    
}

.searchContainer {
    width: 100%;
    position: relative;

    & > .icon {
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        left: 0rem;
        bottom: .4rem;
    }
}

.searchInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    height: 2rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: #333;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 1.2rem;
        color:rgb(213, 213, 213)
    }
}

.searchIcon {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    align-self: center;
}

.cartIcon {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    align-self: center;
}

.cartBtn {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    align-self: center;

    span {
        display: none;
        font-size: 1rem;
    }
}

.navMobile {
    position: fixed;
    top: 0 ;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh; 
    background-color: #fffbf8;
    overflow:hidden;
}

.navMobileContent {
    position: absolute;
    top: 7rem;
    width: 100%;
    padding: 1.5rem;
}

.mobileNavLinks {
    display: flex;
    flex-direction: column;
}

.mobileNavLink {
    color: #333;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid rgba(120, 120, 120, 0.416);
    padding: 1rem 0;
}



/* LARGE */
@media screen and (min-width: 64rem){
    .promoBar {
        height: 2.5rem;
        font-size: 0.875rem;
    }

    .nav {
        height: 5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        
    }

    .navLinks {
        font-size: .875rem;
        width: 25vw;
        display: flex;
        justify-content: space-between;
    }

    .navLink {
        &:hover {
            color: #F3D5C1;
        }
    
        &::after {
            content: '';
            opacity: 0;
            height: 3px;
            width: 100%;
            background-color: #F3D5C1;
            position: absolute;
            left: 0;
            bottom: -1.965rem;
            transition: opacity .4s cubic-bezier(0.22, 1, 0.36, 1);
        }

        &:hover::after {
            opacity: 1;
        }
    }
    
    .logo {
        width: 13.625rem;
        margin-bottom: 0rem;
    }

    .navMobileMenuButton {
        display: none;
    }

    .cartBtn {

        span {
            display: block;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
            color:#F3D5C1;
        }
    }

    .searchBar {
        padding: 0 25%;
    }

    .searchIcon {

        &:hover {
            cursor: pointer;
            color:#F3D5C1;
        }
    }
}


/* XLARGE */
@media screen and (min-width: 87.5rem){
    .navLinks {
        width: 16vw;
    }
}