.productDetails {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
}

.imagesWrapper {
   display: flex;
   flex-direction: column-reverse;
   height: 30rem;
}

.smallImages {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.smallImageContainer {
    height: 5rem;
    width: 5rem;

    &:not(:last-of-type) {
       margin-right: 1rem;
    }
}

.smallImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.selectedImageContainer {
    height: 100%;
    width: 100%;
}

.selectedImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detailsWrapper {
    padding: 1rem 0;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & > button {
       width: 100%;
    }
}

.productName {
    margin-bottom: 0;
    text-align: left;
}

.productPrice {
    font-weight: 600;
    white-space: nowrap;
}

.productDesc {
    margin: 1rem 0 2rem;
}

.quantityDesc {
    width: fit-content;
    margin-bottom: 1rem;
    border: .5px solid rgb(194, 194, 194);

    &__minus {
        padding: .6rem .8rem;
        vertical-align: middle;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__number {
        padding: .6rem 1rem;
        border-right: .5px solid rgb(194, 194, 194);
        border-left: .5px solid rgb(194, 194, 194);
    }

    &__plus {
        padding: .6rem .8rem;
        vertical-align: middle;

        &:hover {
            cursor: pointer;
        }
    }
}



@media screen and (min-width: 48rem){
    .productDetails {
        flex-direction: row;
        align-items: flex-start;
    }
    
    .imagesWrapper {
        flex-basis: 50%;
    }
    
    .detailsWrapper {
        flex-basis: 50%;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 64rem){
    .productDetails {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    
    .imagesWrapper {
        flex-direction: row;
    }

    .smallImages {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    .smallImageContainer {
    
        &:not(:last-of-type) {
           margin-right: 0rem;
           margin-bottom: 1rem;
        }
    }

    .smallImage {

       &:hover {
           cursor: pointer;
       }
    }


    .selectedImageContainer {
        margin-left: 1rem;
    }
    
    .detailsWrapper {
        flex-basis: 50%;
       margin-left: 2rem;
    }
  }

@media screen and (min-width: 87.5rem){
    .productDetails {
        height: 40rem;
        padding: 6rem 3rem;
    }

    .imagesWrapper {
        flex-basis: 40%;
        justify-content: center;
    }

    .selectedImageContainer {
       max-height: 29rem;
       max-width: 29rem;
    }

    .detailsWrapper {
        flex-basis: 40%;
        padding: 0 1rem;
    }
}