.bestsellers {
    padding: 3rem 0;
    color: #333;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.product {
   width: 20rem;
   
   &:not(:last-of-type) {
       margin-bottom: 1.75rem;
   }

   &:hover {
       cursor: pointer;
   }

   & > button {
       margin-top: 1rem;
       width: 100%;
   }
}

.imageContainer {
    overflow: hidden;
}


.image {
    background-color: #fffbf8;
    padding: 2rem;
    height: auto;
    width: 100%;
    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}


.name {
    font-family: 'Cormorant Garamond', serif;
    margin: .6rem 0;
    font-size: 1.375rem;
}

.details {
    font-family: 300;
    font-size: .875rem;
}

.price {
    margin-top: .6rem;
    font-weight: 600;
    font-size: .875rem;
}


@media screen and (min-width: 48rem){
    .bestsellers {
        padding: 3rem 4rem;
    }
    
    .container {
       flex-direction: row;
       justify-content: center;
       align-items: baseline;
       gap: 1rem;
    }
    
    .product {
       width: 14rem;
    }
    
    .image {
        height: auto;
        width: 100%;
    }
    
    .details {
        font-size: .75rem;
    }
    
}

@media screen and (min-width: 64rem){
    .bestsellers {
        padding: 3rem 6rem;
    }

    .container {
        gap: 2rem;
    }

    .product {
       width: 20rem;
    }
    
    .details {
        font-size: .875rem;
    }
}