@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

button:hover {
  cursor: pointer;
}


/* MEDIUM */
@media screen and (min-width: 48rem){
  
}

/* LARGE */
@media screen and (min-width: 64rem){
  
}

/* XLARGE */
@media screen and (min-width: 87.5rem){
  
}